/libdali-adaptor
/libdali-adaptor-dev
/libdali-adaptor.debhelper.log
/libdali-adaptor.substvars
/libdali-adaptor.postinst.debhelper
/libdali-adaptor.postrm.debhelper
/libdali-adaptor-dev.debhelper.log
/libdali-adaptor-dev.substvars
/tmp
/files
/build-stamp
/config.status
/libdali-adaptor-dbg
/libdali-adaptor-dbg.debhelper.log
/libdali-adaptor-dbg.substvars
/libdali-adaptor-test-data
/libdali-adaptor-test-data.debhelper.log
/libdali-adaptor-test-data.substvars
